# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid

# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*


# NetBeans specific #
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
*.jar
*.war
*.ear


/CodenameOne/nbproject/private/
/CodenameOne/javadoc/
/CodenameOneDesigner/nbproject/private/
/Ports/Android/nbproject/private/
/Ports/BlackBerryOS_4_2/nbproject/private/
/Ports/BlackBerryOS_5/nbproject/private/
/Ports/JavaSE/nbproject/private/
/Factory/nbproject/private/
/vm/ByteCodeTranslator/nbproject/private/
/vm/JavaAPI/nbproject/private/
/Factory/build/
/CodenameOne/build/
/Factory/dist/
/CodenameOne/dist/
/Ports/Android/build/
/Ports/Android/dist/
/Ports/BlackBerryOS_4_2/build/
/Ports/BlackBerryOS_5/build/
/Ports/BlackBerryOS_4_2/dist/
/Ports/BlackBerryOS_5/dist/
/Ports/JavaSE/build/
*.skin
*.jar
*.class
**/private/*
**/.idea/*
**/build/*
**/dist/*
*.zip
CodenameOneDesigner/src/version.properties
/Ports/iOSPort/build/
/Ports/iOSPort/dist/
Ports/iOSPort/nbproject/private/private.xml
/Ports/JavaSE/dist/

*.nbm
/vm/ByteCodeTranslator/build/
/vm/ByteCodeTranslator/dist/
/vm/JavaAPI/build/
/vm/JavaAPI/dist/
Ports/iOSPort/nbproject/private/private.properties
CodenameOne/build.xml
CodenameOne/build.xml
Ports/iOSPort/nbproject/private/private.properties
/Ports/JavaSEWithSVGSupport/nbproject/private/
/Ports/JavaSEWithSVGSupport/build/
/Ports/JavaSEWithSVGSupport/dist/
nightly_builds/.DS_Store
/tests/iOSTests/build/
node_modules
/tests/core/nbproject/private/
/tests/core/dist/
/tests/core/build/
/tests/signin-demo/nbproject/private/
/Ports/J2ME/nbproject/private/
/Ports/CLDC11/nbproject/private/
/Ports/Android/CompatLibs/nbproject/private/
/Ports/UWP/nbproject/private/
/Ports/CLDC11/build/
/Ports/CLDC11/dist/
/Samples/SampleProjectTemplate/nbproject/private/
/Samples/config
**/.DS_Store
**/build-impl.xml
**/genfiles.properties
**/private/private.properties
.idea/
target
pom.xml.versionsBackup
pom.xml.releaseBackup
pom.xml.tag
!maven/**/*.zip


