{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Inscription en tant qu'un etudiant</h1>

    {{ include('etudiant/_form.html.twig') }}

    <a href="{{ path('etudiant_index') }}">back to list</a>
{% endblock %}
