{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <h1>Inscription en tant qu'une entreprise</h1>

    {{ include('Entreprise/_form.html.twig') }}

{% endblock %}
